# gradle

.gradle/
build/
out/
classes/
gradle/wrapper
DEVELOPMENT_NOTES.md

# eclipse

*.launch

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# fabric

run/
deps/
/bop_compat_datapack/
